
.ml3 {
  position: relative;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 6.5em;
  color:"red";
}

.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 4.5em;
}
.ml4 .letters {
  position: relative;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}



